<a href="https://colab.research.google.com/github/ldeleong/DC_Predictions/blob/main/data_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [189]:
import pandas as pd
salary_url = "https://raw.github.com/ldeleong/DC_Predictions/main/dc%20income%20.csv"
HousingCost_URL = "https://raw.githubusercontent.com/ldeleong/DC_Predictions/main/dc_Rent_cpi.csv"
food_url = "https://raw.githubusercontent.com/ldeleong/DC_Predictions/main/DC_Food.csv"
trans_URL = "https://raw.github.com/ldeleong/DC_Predictions/main/dc_Transportation_cpi.csv"
utilities_URL = "https://raw.github.com/ldeleong/DC_Predictions/main/DC_Utilities_CPI.csv"
edu_com_URL = "https://raw.github.com/ldeleong/DC_Predictions/main/EDU%26COM_CPI.csv"
furnish_URL = "https://raw.github.com/ldeleong/DC_Predictions/main/Furnish_CPI.csv"
REc_URL = "https://raw.github.com/ldeleong/DC_Predictions/main/REC_CPI.csv"

df_income = pd.read_csv(salary_url)
df_rent = pd.read_csv(HousingCost_URL)
df_Food = pd.read_csv(food_url)
df_trans = pd.read_csv(trans_URL)
df_utilities = pd.read_csv(utilities_URL)
df_EduCOM = pd.read_csv(edu_com_URL)
df_furnish = pd.read_csv(furnish_URL)
df_rec = pd.read_csv(REc_URL)

In [190]:
df_income
df_income.rename(columns= {
    'MEHOINUSDCA672N': 'income'
}, inplace=True)

df_income

          DATE  income
0   1984-01-01   51700
1   1985-01-01   51640
2   1986-01-01   58620
3   1987-01-01   64010
4   1988-01-01   60120
5   1989-01-01   57620
6   1990-01-01   56260
7   1991-01-01   59230
8   1992-01-01   58460
9   1993-01-01   51500
10  1994-01-01   55590
11  1995-01-01   55440
12  1996-01-01   56160
13  1997-01-01   54790
14  1998-01-01   56730
15  1999-01-01   64280
16  2000-01-01   66240
17  2001-01-01   64690
18  2002-01-01   60640
19  2003-01-01   68490
20  2004-01-01   64450
21  2005-01-01   64860
22  2006-01-01   67910
23  2007-01-01   69360
24  2008-01-01   73240
25  2009-01-01   70300
26  2010-01-01   74290
27  2011-01-01   69930
28  2012-01-01   81010
29  2013-01-01   73680
30  2014-01-01   82590
31  2015-01-01   84820
32  2016-01-01   85170
33  2017-01-01   95840
34  2018-01-01   99110
35  2019-01-01  106100
36  2020-01-01   99440
37  2021-01-01   97740
38  2022-01-01  101700

In [191]:
df_income['Year'] = pd.DatetimeIndex(df_income['DATE']).year
df_income

          DATE  income  Year
0   1984-01-01   51700  1984
1   1985-01-01   51640  1985
2   1986-01-01   58620  1986
3   1987-01-01   64010  1987
4   1988-01-01   60120  1988
5   1989-01-01   57620  1989
6   1990-01-01   56260  1990
7   1991-01-01   59230  1991
8   1992-01-01   58460  1992
9   1993-01-01   51500  1993
10  1994-01-01   55590  1994
11  1995-01-01   55440  1995
12  1996-01-01   56160  1996
13  1997-01-01   54790  1997
14  1998-01-01   56730  1998
15  1999-01-01   64280  1999
16  2000-01-01   66240  2000
17  2001-01-01   64690  2001
18  2002-01-01   60640  2002
19  2003-01-01   68490  2003
20  2004-01-01   64450  2004
21  2005-01-01   64860  2005
22  2006-01-01   67910  2006
23  2007-01-01   69360  2007
24  2008-01-01   73240  2008
25  2009-01-01   70300  2009
26  2010-01-01   74290  2010
27  2011-01-01   69930  2011
28  2012-01-01   81010  2012
29  2013-01-01   73680  2013
30  2014-01-01   82590  2014
31  2015-01-01   84820  2015
32  2016-01-01   85170  2016
33  2017-01-01   95840  2017
34  2018-01-01   99110  2018
35  2019-01-01  106100  2019
36  2020-01-01   99440  2020
37  2021-01-01   97740  2021
38  2022-01-01  101700  2022

In [192]:
DC_income = df_income.copy()
DC_income = DC_income[["Year", "income"]]
DC_income

    Year  income
0   1984   51700
1   1985   51640
2   1986   58620
3   1987   64010
4   1988   60120
5   1989   57620
6   1990   56260
7   1991   59230
8   1992   58460
9   1993   51500
10  1994   55590
11  1995   55440
12  1996   56160
13  1997   54790
14  1998   56730
15  1999   64280
16  2000   66240
17  2001   64690
18  2002   60640
19  2003   68490
20  2004   64450
21  2005   64860
22  2006   67910
23  2007   69360
24  2008   73240
25  2009   70300
26  2010   74290
27  2011   69930
28  2012   81010
29  2013   73680
30  2014   82590
31  2015   84820
32  2016   85170
33  2017   95840
34  2018   99110
35  2019  106100
36  2020   99440
37  2021   97740
38  2022  101700

In [193]:
df_rent["AVG_Rent_CPI"] = (df_rent["Jan"] + df_rent["Feb"] + df_rent["Mar"] + df_rent["Apr"] + df_rent["May"] + df_rent["Jun"] + df_rent["Jul"] + df_rent["Aug"] + df_rent["Sep"] + df_rent["Oct"] + df_rent["Nov"] + df_rent["Dec"]) / 12.0
df_rent_average = df_rent.groupby("Year").agg(average=("AVG_Rent_CPI", "mean"))
df_rent

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_Rent_CPI
0,1998,171.900,171.800,173.000,173.800,174.400,175.100,175.400,175.800,175.200,175.300,176.300,176.900,NaN,NaN,NaN,174.575000
1,1999,177.200,177.500,178.000,178.200,178.600,179.300,180.000,180.700,181.400,182.100,183.300,183.400,NaN,NaN,NaN,179.975000
2,2000,183.700,183.800,184.600,184.800,185.300,185.800,186.400,187.800,188.700,190.300,191.500,193.400,NaN,NaN,NaN,187.175000
3,2001,194.600,195.600,196.600,197.300,198.600,199.500,200.500,202.100,203.600,204.500,206.200,207.700,NaN,NaN,NaN,200.566667
4,2002,208.500,209.600,210.500,211.000,211.400,212.200,213.400,214.900,216.300,217.500,218.000,219.000,NaN,NaN,NaN,213.525000
5,2003,220.100,220.800,221.700,222.300,222.700,222.900,223.700,224.600,225.400,226.900,227.500,228.500,NaN,NaN,NaN,223.925000
6,2004,229.600,230.400,230.900,230.900,230.100,230.400,230.300,232.200,233.400,233.500,235.500,236.900,NaN,NaN,NaN,232.008333
7,2005,238.600,239.400,240.300,241.000,241.600,241.300,241.800,243.000,243.900,244.700,245.800,247.800,NaN,NaN,NaN,242.433333
8,2006,248.100,248.000,248.700,250.000,250.900,252.000,253.300,254.300,255.500,258.200,259.700,261.100,NaN,NaN,NaN,253.316667
9,2007,261.676,262.593,262.980,262.807,263.466,263.358,264.817,262.955,264.634,265.656,266.990,268.927,NaN,NaN,NaN,264.238250
10,2008,270.050,271.333,272.280,273.912,274.962,274.701,275.340,279.039,280.144,280.559,281.436,282.452,NaN,NaN,NaN,276.350667
11,2009,283.242,283.394,284.323,285.105,286.158,287.896,288.912,289.679,288.703,288.883,288.144,290.434,NaN,NaN,NaN,287.072750
12,2010,290.393,291.825,292.076,292.160,292.058,291.274,294.121,293.943,294.717,295.216,296.703,297.166,NaN,NaN,NaN,293.471000
13,2011,298.086,299.426,299.513,299.870,300.359,300.814,302.682,302.921,304.428,305.949,306.184,306.750,NaN,NaN,NaN,302.248500
14,2012,307.522,308.360,309.828,311.051,312.569,313.811,314.607,315.703,317.166,318.965,320.129,320.395,NaN,NaN,NaN,314.175500
15,2013,321.023,320.913,321.290,321.531,321.100,321.896,322.949,323.929,324.640,325.566,324.815,325.580,NaN,NaN,NaN,322.936000
16,2014,326.437,326.677,327.108,325.531,325.626,326.154,328.035,328.333,330.434,331.457,333.478,333.264,NaN,NaN,NaN,328.544500
17,2015,333.308,333.195,334.939,335.574,335.994,337.427,337.994,339.076,338.547,339.030,339.017,338.582,336.890,335.073,338.708,336.890250
18,2016,338.395,338.343,340.077,340.852,341.501,341.324,341.982,342.376,343.609,344.211,344.544,344.642,341.821,340.082,343.561,341.821333
19,2017,345.452,346.664,346.771,347.900,348.488,348.968,349.172,350.035,351.496,353.079,354.752,356.302,349.923,347.374,352.473,349.923250
20,2018,357.181,357.092,356.530,357.225,357.886,359.060,359.621,360.318,360.382,360.902,361.400,362.426,359.169,357.496,360.842,359.168583
21,2019,362.750,361.862,363.442,364.022,364.882,364.476,365.851,368.464,368.766,369.559,370.738,372.209,366.418,363.572,369.265,366.418417
22,2020,372.756,373.658,373.812,374.170,376.139,377.257,378.325,379.735,380.032,380.030,378.448,377.920,376.857,374.632,379.082,376.856833
23,2021,378.504,378.324,378.241,377.523,376.500,377.357,376.998,377.453,377.966,378.886,379.127,379.854,378.061,377.742,378.381,378.061083
24,2022,380.423,380.826,381.529,382.783,384.095,385.497,387.026,389.042,392.073,395.501,399.862,402.524,388.432,382.526,394.338,388.431750
25,2023,403.934,405.528,406.243,406.221,406.447,406.596,407.067,407.924,409.575,411.519,412.800,414.254,408.176,405.828,410.523,408.175667
26,2024,415.673,418.175,419.086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df_rent["AVG_CPI"] = (df_rent["Jan"] + df_rent["Feb"] + df_rent["Mar"] + df_rent["Apr"] + df_rent["May"] + df_rent["Jun"] + df_rent["Jul"] + df_rent["Aug"] + df_rent["Sep"] + df_rent["Oct"] + df_rent["Nov"] + df_rent["Dec"]) / 12.0
df_rent.groupby("Year").agg(average=("AVG_CPI", "mean"))
df_rent

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_Rent_CPI,AVG_CPI
0,1998,171.900,171.800,173.000,173.800,174.400,175.100,175.400,175.800,175.200,175.300,176.300,176.900,NaN,NaN,NaN,174.575000,174.575000
1,1999,177.200,177.500,178.000,178.200,178.600,179.300,180.000,180.700,181.400,182.100,183.300,183.400,NaN,NaN,NaN,179.975000,179.975000
2,2000,183.700,183.800,184.600,184.800,185.300,185.800,186.400,187.800,188.700,190.300,191.500,193.400,NaN,NaN,NaN,187.175000,187.175000
3,2001,194.600,195.600,196.600,197.300,198.600,199.500,200.500,202.100,203.600,204.500,206.200,207.700,NaN,NaN,NaN,200.566667,200.566667
4,2002,208.500,209.600,210.500,211.000,211.400,212.200,213.400,214.900,216.300,217.500,218.000,219.000,NaN,NaN,NaN,213.525000,213.525000
5,2003,220.100,220.800,221.700,222.300,222.700,222.900,223.700,224.600,225.400,226.900,227.500,228.500,NaN,NaN,NaN,223.925000,223.925000
6,2004,229.600,230.400,230.900,230.900,230.100,230.400,230.300,232.200,233.400,233.500,235.500,236.900,NaN,NaN,NaN,232.008333,232.008333
7,2005,238.600,239.400,240.300,241.000,241.600,241.300,241.800,243.000,243.900,244.700,245.800,247.800,NaN,NaN,NaN,242.433333,242.433333
8,2006,248.100,248.000,248.700,250.000,250.900,252.000,253.300,254.300,255.500,258.200,259.700,261.100,NaN,NaN,NaN,253.316667,253.316667
9,2007,261.676,262.593,262.980,262.807,263.466,263.358,264.817,262.955,264.634,265.656,266.990,268.927,NaN,NaN,NaN,264.238250,264.238250
10,2008,270.050,271.333,272.280,273.912,274.962,274.701,275.340,279.039,280.144,280.559,281.436,282.452,NaN,NaN,NaN,276.350667,276.350667
11,2009,283.242,283.394,284.323,285.105,286.158,287.896,288.912,289.679,288.703,288.883,288.144,290.434,NaN,NaN,NaN,287.072750,287.072750
12,2010,290.393,291.825,292.076,292.160,292.058,291.274,294.121,293.943,294.717,295.216,296.703,297.166,NaN,NaN,NaN,293.471000,293.471000
13,2011,298.086,299.426,299.513,299.870,300.359,300.814,302.682,302.921,304.428,305.949,306.184,306.750,NaN,NaN,NaN,302.248500,302.248500
14,2012,307.522,308.360,309.828,311.051,312.569,313.811,314.607,315.703,317.166,318.965,320.129,320.395,NaN,NaN,NaN,314.175500,314.175500
15,2013,321.023,320.913,321.290,321.531,321.100,321.896,322.949,323.929,324.640,325.566,324.815,325.580,NaN,NaN,NaN,322.936000,322.936000
16,2014,326.437,326.677,327.108,325.531,325.626,326.154,328.035,328.333,330.434,331.457,333.478,333.264,NaN,NaN,NaN,328.544500,328.544500
17,2015,333.308,333.195,334.939,335.574,335.994,337.427,337.994,339.076,338.547,339.030,339.017,338.582,336.890,335.073,338.708,336.890250,336.890250
18,2016,338.395,338.343,340.077,340.852,341.501,341.324,341.982,342.376,343.609,344.211,344.544,344.642,341.821,340.082,343.561,341.821333,341.821333
19,2017,345.452,346.664,346.771,347.900,348.488,348.968,349.172,350.035,351.496,353.079,354.752,356.302,349.923,347.374,352.473,349.923250,349.923250
20,2018,357.181,357.092,356.530,357.225,357.886,359.060,359.621,360.318,360.382,360.902,361.400,362.426,359.169,357.496,360.842,359.168583,359.168583
21,2019,362.750,361.862,363.442,364.022,364.882,364.476,365.851,368.464,368.766,369.559,370.738,372.209,366.418,363.572,369.265,366.418417,366.418417
22,2020,372.756,373.658,373.812,374.170,376.139,377.257,378.325,379.735,380.032,380.030,378.448,377.920,376.857,374.632,379.082,376.856833,376.856833
23,2021,378.504,378.324,378.241,377.523,376.500,377.357,376.998,377.453,377.966,378.886,379.127,379.854,378.061,377.742,378.381,378.061083,378.061083
24,2022,380.423,380.826,381.529,382.783,384.095,385.497,387.026,389.042,392.073,395.501,399.862,402.524,388.432,382.526,394.338,388.431750,388.431750
25,2023,403.934,405.528,406.243,406.221,406.447,406.596,407.067,407.924,409.575,411.519,412.800,414.254,408.176,405.828,410.523,408.175667,408.175667
26,2024,415.673,418.175,419.086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
DC_rent = df_rent.copy()
DC_rent = DC_rent[["Year", "AVG_Rent_CPI"]]
DC_rent

    Year  AVG_Rent_CPI
0   1998    174.575000
1   1999    179.975000
2   2000    187.175000
3   2001    200.566667
4   2002    213.525000
5   2003    223.925000
6   2004    232.008333
7   2005    242.433333
8   2006    253.316667
9   2007    264.238250
10  2008    276.350667
11  2009    287.072750
12  2010    293.471000
13  2011    302.248500
14  2012    314.175500
15  2013    322.936000
16  2014    328.544500
17  2015    336.890250
18  2016    341.821333
19  2017    349.923250
20  2018    359.168583
21  2019    366.418417
22  2020    376.856833
23  2021    378.061083
24  2022    388.431750
25  2023    408.175667
26  2024           NaN

In [196]:
df_Food = df_Food.loc[192: 215]
df_Food = df_Food[(1997 <= df_Food['Year']) & (df_Food['Year'] <= 2020)]
df_Food

,Year,State,Nominal Sales Per Capital FAH,Nominal Sales Per Capital FAFH,Total nominal food sales per capita,Constant dollar sales per capita FAH,Constant dollar sales per capita FAFH,Total constant dollar food sales per capita
192,1997.0,District of Columbia,"1,347.20","3,491.68","4,838.89",993.57,"2,708.83","3,702.41"
193,1998.0,District of Columbia,"1,342.52","3,964.42","5,306.94",971.68,"2,997.31","3,968.99"
194,1999.0,District of Columbia,"1,327.31","3,880.69","5,208.00",942.53,"2,862.92","3,805.45"
195,2000.0,District of Columbia,"1,176.60","3,842.16","5,018.76",817.10,"2,769.08","3,586.18"
196,2001.0,District of Columbia,"1,190.85","3,512.59","4,703.44",800.77,"2,460.23","3,261.00"
197,2002.0,District of Columbia,"1,236.23","3,357.87","4,594.10",820.87,"2,293.82","3,114.69"
198,2003.0,District of Columbia,"1,019.82","3,417.09","4,436.91",662.82,"2,285.57","2,948.39"
199,2004.0,District of Columbia,"1,194.05","3,871.36","5,065.42",747.73,"2,514.84","3,262.57"
200,2005.0,District of Columbia,"1,381.56","4,164.95","5,546.50",848.73,"2,623.01","3,471.75"
201,2006.0,District of Columbia,"1,474.68","4,392.64","5,867.33",890.46,"2,683.17","3,573.63"
202,2007.0,District of Columbia,"1,602.41","4,690.25","6,292.66",928.42,"2,764.33","3,692.75"
203,2008.0,District of Columbia,"1,667.17","4,686.26","6,353.43",907.85,"2,645.36","3,553.20"
204,2009.0,District of Columbia,"1,686.40","4,025.82","5,712.22",914.05,"2,196.18","3,110.23"
205,2010.0,District of Columbia,"1,425.88","3,795.89","5,221.77",770.30,"2,044.72","2,815.01"
206,2011.0,District of Columbia,"1,447.78","3,895.19","5,342.97",746.29,"2,050.27","2,796.55"
207,2012.0,District of Columbia,"1,324.48","3,919.71","5,244.18",666.31,"2,006.08","2,672.40"
208,2013.0,District of Columbia,"1,252.30","3,805.45","5,057.76",624.36,"1,906.89","2,531.25"
209,2014.0,District of Columbia,"1,385.74","3,858.81","5,244.55",674.77,"1,887.71","2,562.48"
210,2015.0,District of Columbia,"1,277.41","3,979.34","5,256.75",614.85,"1,892.55","2,507.39"
211,2016.0,District of Columbia,"1,213.76","4,129.31","5,343.06",591.99,"1,914.58","2,506.56"
212,2017.0,District of Columbia,"1,168.97","4,380.09","5,549.05",571.28,"1,984.53","2,555.82"
213,2018.0,District of Columbia,"1,173.78","4,669.01","5,842.80",571.07,"2,061.25","2,632.32"
214,2019.0,District of Columbia,"1,219.04","4,774.44","5,993.48",587.90,"2,044.68","2,632.58"
215,2020.0,District of Columbia,"1,365.64","3,931.35","5,296.99",636.34,"1,629.01","2,265.35"

In [197]:
DC_Food = df_Food.copy()
DC_Food = DC_Food[["Year","State","Total nominal food sales per capita","Total constant dollar food sales per capita"]]
del DC_Food["State"]
DC_Food

,Year,Total nominal food sales per capita,Total constant dollar food sales per capita
192,1997.0,"4,838.89","3,702.41"
193,1998.0,"5,306.94","3,968.99"
194,1999.0,"5,208.00","3,805.45"
195,2000.0,"5,018.76","3,586.18"
196,2001.0,"4,703.44","3,261.00"
197,2002.0,"4,594.10","3,114.69"
198,2003.0,"4,436.91","2,948.39"
199,2004.0,"5,065.42","3,262.57"
200,2005.0,"5,546.50","3,471.75"
201,2006.0,"5,867.33","3,573.63"
202,2007.0,"6,292.66","3,692.75"
203,2008.0,"6,353.43","3,553.20"
204,2009.0,"5,712.22","3,110.23"
205,2010.0,"5,221.77","2,815.01"
206,2011.0,"5,342.97","2,796.55"
207,2012.0,"5,244.18","2,672.40"
208,2013.0,"5,057.76","2,531.25"
209,2014.0,"5,244.55","2,562.48"
210,2015.0,"5,256.75","2,507.39"
211,2016.0,"5,343.06","2,506.56"
212,2017.0,"5,549.05","2,555.82"
213,2018.0,"5,842.80","2,632.32"
214,2019.0,"5,993.48","2,632.58"
215,2020.0,"5,296.99","2,265.35"

In [198]:
df_trans["AVG_trans_CPI"] = (df_trans["Jan"] + df_trans["Mar"] +df_trans["May"] + df_trans["Jul"] + df_trans["Sep"] + df_trans["Nov"] ) / 6.0
df_trans_average = df_trans.groupby("Year").agg(average=("AVG_trans_CPI", "mean"))
df_trans

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_trans_CPI
0,1998,145.400,NaN,143.400,NaN,142.800,NaN,143.900,NaN,142.000,NaN,142.700,NaN,NaN,NaN,NaN,143.366667
1,1999,142.200,NaN,141.900,NaN,144.900,NaN,146.900,NaN,148.800,NaN,150.200,NaN,NaN,NaN,NaN,145.816667
2,2000,150.400,NaN,156.900,NaN,157.600,NaN,160.100,NaN,158.500,NaN,159.800,NaN,NaN,NaN,NaN,157.216667
3,2001,158.700,NaN,158.200,NaN,163.000,NaN,160.100,NaN,158.000,NaN,155.200,NaN,NaN,NaN,NaN,158.866667
4,2002,151.000,NaN,153.100,NaN,158.300,NaN,157.900,NaN,157.200,NaN,157.100,NaN,NaN,NaN,NaN,155.766667
5,2003,158.400,NaN,163.800,NaN,161.500,NaN,161.700,NaN,162.500,NaN,160.100,NaN,NaN,NaN,NaN,161.333333
6,2004,160.700,NaN,163.400,NaN,167.400,NaN,168.400,NaN,167.100,NaN,170.700,NaN,NaN,NaN,NaN,166.283333
7,2005,169.300,NaN,173.400,NaN,176.900,NaN,178.100,NaN,192.800,NaN,180.000,NaN,NaN,NaN,NaN,178.416667
8,2006,181.900,NaN,181.200,NaN,194.400,NaN,195.900,NaN,186.800,NaN,177.800,NaN,NaN,NaN,NaN,186.333333
9,2007,178.329,NaN,185.238,NaN,195.118,NaN,192.143,NaN,187.996,NaN,192.813,NaN,NaN,NaN,NaN,188.606167
10,2008,194.765,NaN,199.070,NaN,211.968,NaN,220.056,NaN,210.711,NaN,179.662,NaN,NaN,NaN,NaN,202.705333
11,2009,169.108,NaN,171.719,NaN,177.346,NaN,188.616,NaN,188.124,NaN,194.234,NaN,NaN,NaN,NaN,181.524500
12,2010,196.204,NaN,196.045,NaN,199.425,NaN,196.327,NaN,197.316,NaN,200.854,NaN,NaN,NaN,NaN,197.695167
13,2011,206.177,NaN,213.339,NaN,222.913,NaN,219.947,NaN,219.146,NaN,215.711,NaN,NaN,NaN,NaN,216.205500
14,2012,215.621,NaN,223.454,NaN,223.345,NaN,218.542,NaN,224.458,NaN,218.631,NaN,NaN,NaN,NaN,220.675167
15,2013,219.423,NaN,226.960,NaN,224.678,NaN,225.728,NaN,226.258,NaN,224.564,NaN,NaN,NaN,NaN,224.601833
16,2014,223.977,NaN,228.385,NaN,233.880,NaN,230.404,NaN,224.507,NaN,217.522,NaN,NaN,NaN,NaN,226.445833
17,2015,203.997,NaN,209.138,NaN,216.582,NaN,213.692,NaN,206.413,NaN,202.822,NaN,208.436,210.385,206.486,208.774000
18,2016,199.938,NaN,200.641,NaN,207.857,NaN,205.730,NaN,203.302,NaN,204.484,NaN,203.781,203.229,204.334,203.658667
19,2017,208.096,NaN,210.568,NaN,209.248,NaN,207.983,NaN,210.390,NaN,212.978,NaN,209.879,209.275,210.483,209.877167
20,2018,212.173,NaN,215.146,NaN,219.936,NaN,220.684,NaN,217.636,NaN,216.747,NaN,217.057,216.277,217.838,217.053667
21,2019,209.645,NaN,214.389,NaN,220.493,NaN,219.883,NaN,215.337,NaN,215.692,NaN,216.140,215.306,216.973,215.906500
22,2020,215.812,NaN,211.419,NaN,199.491,NaN,210.230,NaN,208.563,NaN,210.196,NaN,209.194,208.166,210.222,209.285167
23,2021,211.250,NaN,216.225,NaN,230.898,NaN,238.844,NaN,234.184,NaN,245.416,NaN,230.846,221.495,240.196,229.469500
24,2022,243.693,NaN,259.648,NaN,272.233,NaN,274.897,NaN,262.598,NaN,262.753,NaN,262.417,260.158,264.676,262.637000
25,2023,256.886,NaN,263.458,NaN,270.876,NaN,269.264,NaN,273.063,NaN,268.219,NaN,267.084,264.364,269.804,266.961000
26,2024,265.530,NaN,271.791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
DC_trans = df_trans.copy()
DC_trans = DC_trans[["Year", "AVG_trans_CPI"]]
DC_trans

    Year  AVG_trans_CPI
0   1998     143.366667
1   1999     145.816667
2   2000     157.216667
3   2001     158.866667
4   2002     155.766667
5   2003     161.333333
6   2004     166.283333
7   2005     178.416667
8   2006     186.333333
9   2007     188.606167
10  2008     202.705333
11  2009     181.524500
12  2010     197.695167
13  2011     216.205500
14  2012     220.675167
15  2013     224.601833
16  2014     226.445833
17  2015     208.774000
18  2016     203.658667
19  2017     209.877167
20  2018     217.053667
21  2019     215.906500
22  2020     209.285167
23  2021     229.469500
24  2022     262.637000
25  2023     266.961000
26  2024            NaN

In [200]:
df_utilities["AVG_utilities_CPI"] = (df_utilities["Jan"] + df_utilities["Mar"] +df_utilities["May"] + df_utilities["Jul"] + df_utilities["Sep"] + df_utilities["Nov"] ) / 6.0
df_utilities_average = df_utilities.groupby("Year").agg(average=("AVG_utilities_CPI", "mean"))
df_utilities

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_utilities_CPI
0,1998,125.600,NaN,124.800,NaN,124.700,NaN,149.100,NaN,148.000,NaN,123.000,NaN,NaN,NaN,NaN,132.533333
1,1999,125.100,NaN,129.200,NaN,130.100,NaN,147.700,NaN,150.200,NaN,134.000,NaN,NaN,NaN,NaN,136.050000
2,2000,132.400,NaN,135.400,NaN,128.000,NaN,153.000,NaN,157.300,NaN,149.900,NaN,NaN,NaN,NaN,142.666667
3,2001,140.100,NaN,138.300,NaN,138.100,NaN,155.500,NaN,151.900,NaN,132.400,NaN,NaN,NaN,NaN,142.716667
4,2002,133.000,NaN,130.700,NaN,133.200,NaN,153.200,NaN,151.300,NaN,135.200,NaN,NaN,NaN,NaN,139.433333
5,2003,136.000,NaN,149.300,NaN,141.700,NaN,160.100,NaN,159.600,NaN,142.000,NaN,NaN,NaN,NaN,148.116667
6,2004,145.900,NaN,144.400,NaN,147.600,NaN,169.700,NaN,168.000,NaN,160.000,NaN,NaN,NaN,NaN,155.933333
7,2005,160.500,NaN,160.500,NaN,164.600,NaN,179.000,NaN,187.700,NaN,182.900,NaN,NaN,NaN,NaN,172.533333
8,2006,186.300,NaN,176.900,NaN,172.600,NaN,194.700,NaN,197.700,NaN,185.200,NaN,NaN,NaN,NaN,185.566667
9,2007,188.876,NaN,187.544,NaN,187.093,NaN,208.054,NaN,209.412,NaN,199.485,NaN,NaN,NaN,NaN,196.744000
10,2008,203.476,NaN,205.527,NaN,209.051,NaN,246.439,NaN,232.988,NaN,221.741,NaN,NaN,NaN,NaN,219.870333
11,2009,222.254,NaN,207.464,NaN,210.491,NaN,222.960,NaN,226.200,NaN,212.481,NaN,NaN,NaN,NaN,216.975000
12,2010,214.103,NaN,215.845,NaN,209.408,NaN,229.191,NaN,223.269,NaN,208.377,NaN,NaN,NaN,NaN,216.698833
13,2011,211.004,NaN,211.643,NaN,213.171,NaN,223.794,NaN,221.806,NaN,209.406,NaN,NaN,NaN,NaN,215.137333
14,2012,212.034,NaN,207.108,NaN,208.070,NaN,218.329,NaN,213.827,NaN,205.353,NaN,NaN,NaN,NaN,210.786833
15,2013,206.269,NaN,208.041,NaN,210.421,NaN,222.479,NaN,223.193,NaN,215.795,NaN,NaN,NaN,NaN,214.366333
16,2014,216.395,NaN,227.049,NaN,218.189,NaN,224.871,NaN,225.961,NaN,215.431,NaN,NaN,NaN,NaN,221.316000
17,2015,216.595,NaN,217.667,NaN,210.872,NaN,220.973,NaN,226.983,NaN,215.793,NaN,218.029,215.258,220.800,218.147167
18,2016,213.444,NaN,219.345,NaN,218.375,NaN,231.553,NaN,228.235,NaN,224.040,NaN,222.480,218.916,226.043,222.498667
19,2017,225.500,NaN,229.933,NaN,235.047,NaN,245.766,NaN,237.117,NaN,230.191,NaN,234.760,232.349,237.171,233.925667
20,2018,230.398,NaN,227.149,NaN,229.869,NaN,232.025,NaN,214.382,NaN,224.116,NaN,228.752,230.477,227.027,226.323167
21,2019,233.631,NaN,236.620,NaN,236.197,NaN,241.915,NaN,240.200,NaN,237.468,NaN,238.520,236.690,240.349,237.671833
22,2020,238.722,NaN,235.829,NaN,235.985,NaN,243.811,NaN,236.399,NaN,232.302,NaN,236.934,238.082,235.786,237.174667
23,2021,233.361,NaN,239.775,NaN,244.459,NaN,262.851,NaN,255.139,NaN,257.061,NaN,250.375,242.167,258.582,248.774333
24,2022,252.309,NaN,258.005,NaN,269.799,NaN,292.226,NaN,294.827,NaN,285.436,NaN,277.393,263.666,291.119,275.433667
25,2023,287.727,NaN,274.115,NaN,279.641,NaN,285.723,NaN,285.043,NaN,282.260,NaN,286.199,282.920,286.368,282.418167
26,2024,282.437,NaN,286.345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
DC_utilities= df_utilities.copy()
DC_utilities = DC_utilities[["Year", "AVG_utilities_CPI"]]
DC_utilities

    Year  AVG_utilities_CPI
0   1998         132.533333
1   1999         136.050000
2   2000         142.666667
3   2001         142.716667
4   2002         139.433333
5   2003         148.116667
6   2004         155.933333
7   2005         172.533333
8   2006         185.566667
9   2007         196.744000
10  2008         219.870333
11  2009         216.975000
12  2010         216.698833
13  2011         215.137333
14  2012         210.786833
15  2013         214.366333
16  2014         221.316000
17  2015         218.147167
18  2016         222.498667
19  2017         233.925667
20  2018         226.323167
21  2019         237.671833
22  2020         237.174667
23  2021         248.774333
24  2022         275.433667
25  2023         282.418167
26  2024                NaN

In [202]:
df_EduCOM["AVG_EduCom_CPI"] = (df_EduCOM["Jan"] + df_EduCOM["Mar"] +df_EduCOM["May"] + df_EduCOM["Jul"] + df_EduCOM["Sep"] + df_EduCOM["Nov"] ) / 6.0
df_EduCom_average = df_EduCOM.groupby("Year").agg(average=("AVG_EduCom_CPI", "mean"))
df_EduCOM

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_EduCom_CPI
0,1998,99.700,NaN,99.600,NaN,101.700,NaN,102.000,NaN,103.200,NaN,103.800,NaN,NaN,NaN,NaN,101.666667
1,1999,103.200,NaN,102.900,NaN,103.100,NaN,102.600,NaN,104.100,NaN,104.700,NaN,NaN,NaN,NaN,103.433333
2,2000,104.600,NaN,104.300,NaN,103.800,NaN,105.300,NaN,105.100,NaN,105.600,NaN,NaN,NaN,NaN,104.783333
3,2001,106.600,NaN,107.100,NaN,106.900,NaN,108.800,NaN,111.000,NaN,111.500,NaN,NaN,NaN,NaN,108.650000
4,2002,111.400,NaN,111.200,NaN,110.800,NaN,111.400,NaN,114.500,NaN,114.100,NaN,NaN,NaN,NaN,112.233333
5,2003,114.400,NaN,114.200,NaN,112.600,NaN,113.800,NaN,113.600,NaN,113.500,NaN,NaN,NaN,NaN,113.683333
6,2004,113.500,NaN,113.600,NaN,113.300,NaN,113.700,NaN,115.900,NaN,115.900,NaN,NaN,NaN,NaN,114.316667
7,2005,115.600,NaN,117.300,NaN,118.500,NaN,118.100,NaN,121.400,NaN,121.700,NaN,NaN,NaN,NaN,118.766667
8,2006,122.100,NaN,122.500,NaN,122.100,NaN,122.900,NaN,126.100,NaN,127.900,NaN,NaN,NaN,NaN,123.933333
9,2007,125.426,NaN,125.966,NaN,126.351,NaN,126.715,NaN,130.366,NaN,131.147,NaN,NaN,NaN,NaN,127.661833
10,2008,130.670,NaN,130.428,NaN,130.493,NaN,130.798,NaN,134.461,NaN,133.738,NaN,NaN,NaN,NaN,131.764667
11,2009,134.233,NaN,133.864,NaN,134.288,NaN,134.169,NaN,137.281,NaN,137.006,NaN,NaN,NaN,NaN,135.140167
12,2010,138.100,NaN,138.121,NaN,138.958,NaN,139.323,NaN,141.740,NaN,141.404,NaN,NaN,NaN,NaN,139.607667
13,2011,141.368,NaN,140.947,NaN,140.027,NaN,142.559,NaN,143.546,NaN,143.992,NaN,NaN,NaN,NaN,142.073167
14,2012,143.849,NaN,143.496,NaN,144.779,NaN,145.740,NaN,147.391,NaN,144.917,NaN,NaN,NaN,NaN,145.028667
15,2013,146.944,NaN,146.919,NaN,145.343,NaN,146.784,NaN,147.552,NaN,147.887,NaN,NaN,NaN,NaN,146.904833
16,2014,148.479,NaN,147.809,NaN,148.522,NaN,149.998,NaN,152.645,NaN,152.947,NaN,NaN,NaN,NaN,150.066667
17,2015,151.865,NaN,152.130,NaN,152.565,NaN,154.035,NaN,158.729,NaN,158.778,NaN,154.899,152.263,157.535,154.683667
18,2016,159.496,NaN,157.493,NaN,156.326,NaN,156.462,NaN,154.822,NaN,156.094,NaN,156.860,157.861,155.858,156.782167
19,2017,155.888,NaN,154.792,NaN,151.867,NaN,152.983,NaN,154.578,NaN,155.031,NaN,154.226,153.965,154.487,154.189833
20,2018,155.486,NaN,152.905,NaN,153.398,NaN,154.600,NaN,156.267,NaN,150.041,NaN,153.453,153.956,152.951,153.782833
21,2019,149.002,NaN,148.590,NaN,150.851,NaN,150.598,NaN,152.548,NaN,151.891,NaN,150.729,149.563,151.895,150.580000
22,2020,152.560,NaN,152.898,NaN,153.315,NaN,154.625,NaN,155.960,NaN,156.041,NaN,154.474,153.231,155.717,154.233167
23,2021,156.292,NaN,156.718,NaN,157.126,NaN,157.681,NaN,161.632,NaN,161.431,NaN,158.698,156.864,160.531,158.480000
24,2022,161.400,NaN,161.195,NaN,161.204,NaN,161.663,NaN,163.542,NaN,163.136,NaN,162.360,161.363,163.358,162.023333
25,2023,163.522,NaN,164.029,NaN,165.602,NaN,164.930,NaN,168.818,NaN,166.430,NaN,165.599,164.315,166.883,165.555167
26,2024,166.418,NaN,166.142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
DC_EduCom = df_EduCOM.copy()
DC_EduCom = DC_EduCom[["Year", "AVG_EduCom_CPI"]]
DC_EduCom

    Year  AVG_EduCom_CPI
0   1998      101.666667
1   1999      103.433333
2   2000      104.783333
3   2001      108.650000
4   2002      112.233333
5   2003      113.683333
6   2004      114.316667
7   2005      118.766667
8   2006      123.933333
9   2007      127.661833
10  2008      131.764667
11  2009      135.140167
12  2010      139.607667
13  2011      142.073167
14  2012      145.028667
15  2013      146.904833
16  2014      150.066667
17  2015      154.683667
18  2016      156.782167
19  2017      154.189833
20  2018      153.782833
21  2019      150.580000
22  2020      154.233167
23  2021      158.480000
24  2022      162.023333
25  2023      165.555167
26  2024             NaN

In [204]:
df_furnish["AVG_furnish_CPI"] = (df_furnish["Jan"] + df_furnish["Mar"] +df_furnish["May"] + df_furnish["Jul"] + df_furnish["Sep"] + df_furnish["Nov"] ) / 6.0
df_furnish_average = df_furnish.groupby("Year").agg(average=("AVG_furnish_CPI", "mean"))
df_furnish

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_furnish_CPI
0,1998,124.000,NaN,124.400,NaN,121.200,NaN,126.100,NaN,126.300,NaN,122.100,NaN,NaN,NaN,NaN,124.016667
1,1999,128.100,NaN,127.000,NaN,121.000,NaN,126.700,NaN,119.800,NaN,121.400,NaN,NaN,NaN,NaN,124.000000
2,2000,124.600,NaN,125.900,NaN,123.400,NaN,128.300,NaN,125.000,NaN,125.400,NaN,NaN,NaN,NaN,125.433333
3,2001,128.400,NaN,130.100,NaN,127.200,NaN,128.100,NaN,127.900,NaN,129.000,NaN,NaN,NaN,NaN,128.450000
4,2002,130.800,NaN,129.800,NaN,130.500,NaN,130.300,NaN,134.500,NaN,135.300,NaN,NaN,NaN,NaN,131.866667
5,2003,135.300,NaN,134.400,NaN,135.800,NaN,133.600,NaN,133.800,NaN,133.900,NaN,NaN,NaN,NaN,134.466667
6,2004,136.600,NaN,135.900,NaN,135.000,NaN,136.400,NaN,133.800,NaN,130.800,NaN,NaN,NaN,NaN,134.750000
7,2005,134.000,NaN,131.800,NaN,130.100,NaN,129.800,NaN,127.100,NaN,127.000,NaN,NaN,NaN,NaN,129.966667
8,2006,125.000,NaN,124.000,NaN,123.700,NaN,123.100,NaN,124.500,NaN,121.800,NaN,NaN,NaN,NaN,123.683333
9,2007,125.165,NaN,123.938,NaN,121.617,NaN,121.448,NaN,122.376,NaN,119.172,NaN,NaN,NaN,NaN,122.286000
10,2008,121.996,NaN,121.189,NaN,120.388,NaN,120.132,NaN,123.400,NaN,119.306,NaN,NaN,NaN,NaN,121.068500
11,2009,118.980,NaN,124.779,NaN,124.868,NaN,122.961,NaN,119.344,NaN,118.626,NaN,NaN,NaN,NaN,121.593000
12,2010,119.004,NaN,118.733,NaN,118.204,NaN,115.982,NaN,117.228,NaN,115.228,NaN,NaN,NaN,NaN,117.396500
13,2011,113.618,NaN,111.415,NaN,111.298,NaN,110.643,NaN,109.397,NaN,110.230,NaN,NaN,NaN,NaN,111.100167
14,2012,110.721,NaN,110.019,NaN,110.591,NaN,110.440,NaN,109.822,NaN,110.831,NaN,NaN,NaN,NaN,110.404000
15,2013,109.404,NaN,110.664,NaN,110.099,NaN,109.717,NaN,107.789,NaN,105.043,NaN,NaN,NaN,NaN,108.786000
16,2014,105.939,NaN,106.615,NaN,105.275,NaN,106.378,NaN,105.176,NaN,103.973,NaN,NaN,NaN,NaN,105.559333
17,2015,103.867,NaN,104.537,NaN,105.309,NaN,103.729,NaN,104.417,NaN,104.133,NaN,104.329,104.571,104.087,104.332000
18,2016,102.861,NaN,101.171,NaN,101.757,NaN,101.632,NaN,101.336,NaN,101.003,NaN,101.658,101.936,101.379,101.626667
19,2017,101.126,NaN,101.428,NaN,101.068,NaN,101.731,NaN,102.022,NaN,101.469,NaN,101.446,101.170,101.721,101.474000
20,2018,104.145,NaN,103.538,NaN,105.247,NaN,105.929,NaN,103.605,NaN,103.211,NaN,104.326,104.404,104.249,104.279167
21,2019,109.574,NaN,110.871,NaN,110.116,NaN,112.681,NaN,109.225,NaN,106.801,NaN,109.868,110.162,109.574,109.878000
22,2020,111.397,NaN,109.537,NaN,109.108,NaN,111.171,NaN,112.592,NaN,110.238,NaN,110.643,109.935,111.351,110.673833
23,2021,114.780,NaN,114.416,NaN,115.467,NaN,116.723,NaN,118.137,NaN,117.490,NaN,116.137,114.829,117.445,116.168833
24,2022,125.456,NaN,127.765,NaN,127.406,NaN,128.182,NaN,129.573,NaN,128.019,NaN,127.765,126.925,128.606,127.733500
25,2023,128.072,NaN,132.044,NaN,130.324,NaN,129.812,NaN,131.153,NaN,131.366,NaN,130.476,130.150,130.802,130.461833
26,2024,132.114,NaN,133.076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
DC_furnish = df_furnish.copy()
DC_furnish = DC_furnish[["Year", "AVG_furnish_CPI"]]
DC_furnish

    Year  AVG_furnish_CPI
0   1998       124.016667
1   1999       124.000000
2   2000       125.433333
3   2001       128.450000
4   2002       131.866667
5   2003       134.466667
6   2004       134.750000
7   2005       129.966667
8   2006       123.683333
9   2007       122.286000
10  2008       121.068500
11  2009       121.593000
12  2010       117.396500
13  2011       111.100167
14  2012       110.404000
15  2013       108.786000
16  2014       105.559333
17  2015       104.332000
18  2016       101.626667
19  2017       101.474000
20  2018       104.279167
21  2019       109.878000
22  2020       110.673833
23  2021       116.168833
24  2022       127.733500
25  2023       130.461833
26  2024              NaN

In [206]:
df_rec["AVG_rec_CPI"] = (df_rec["Jan"] + df_rec["Mar"] +df_rec["May"] + df_rec["Jul"] + df_rec["Sep"] + df_rec["Nov"] ) / 6.0
df_rec_average = df_rec.groupby("Year").agg(average=("AVG_rec_CPI", "mean"))
df_rec

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,AVG_rec_CPI
0,1998,100.400,NaN,101.200,NaN,101.100,NaN,100.000,NaN,100.700,NaN,100.200,NaN,NaN,NaN,NaN,100.600000
1,1999,101.600,NaN,100.700,NaN,102.000,NaN,102.600,NaN,102.400,NaN,102.600,NaN,NaN,NaN,NaN,101.983333
2,2000,103.000,NaN,102.700,NaN,102.700,NaN,103.400,NaN,102.200,NaN,102.300,NaN,NaN,NaN,NaN,102.716667
3,2001,102.500,NaN,101.900,NaN,102.300,NaN,102.800,NaN,104.000,NaN,104.200,NaN,NaN,NaN,NaN,102.950000
4,2002,105.500,NaN,105.800,NaN,105.900,NaN,103.900,NaN,104.700,NaN,105.300,NaN,NaN,NaN,NaN,105.183333
5,2003,106.000,NaN,111.200,NaN,110.800,NaN,110.400,NaN,111.700,NaN,108.300,NaN,NaN,NaN,NaN,109.733333
6,2004,109.400,NaN,108.500,NaN,109.200,NaN,108.800,NaN,109.200,NaN,108.700,NaN,NaN,NaN,NaN,108.966667
7,2005,108.100,NaN,108.600,NaN,109.300,NaN,108.400,NaN,110.800,NaN,110.600,NaN,NaN,NaN,NaN,109.300000
8,2006,110.300,NaN,113.500,NaN,111.700,NaN,113.500,NaN,113.100,NaN,112.500,NaN,NaN,NaN,NaN,112.433333
9,2007,113.975,NaN,115.033,NaN,115.473,NaN,113.730,NaN,113.074,NaN,112.857,NaN,NaN,NaN,NaN,114.023667
10,2008,113.633,NaN,114.324,NaN,114.825,NaN,117.376,NaN,115.277,NaN,114.198,NaN,NaN,NaN,NaN,114.938833
11,2009,114.227,NaN,112.271,NaN,111.851,NaN,113.706,NaN,115.354,NaN,116.261,NaN,NaN,NaN,NaN,113.945000
12,2010,116.933,NaN,117.166,NaN,115.454,NaN,115.057,NaN,115.709,NaN,116.318,NaN,NaN,NaN,NaN,116.106167
13,2011,113.804,NaN,115.117,NaN,115.898,NaN,114.712,NaN,115.014,NaN,113.428,NaN,NaN,NaN,NaN,114.662167
14,2012,114.415,NaN,115.787,NaN,115.642,NaN,114.437,NaN,115.549,NaN,114.847,NaN,NaN,NaN,NaN,115.112833
15,2013,114.762,NaN,114.695,NaN,116.717,NaN,116.908,NaN,116.709,NaN,116.999,NaN,NaN,NaN,NaN,116.131667
16,2014,116.663,NaN,117.173,NaN,118.298,NaN,118.667,NaN,117.610,NaN,117.288,NaN,NaN,NaN,NaN,117.616500
17,2015,119.132,NaN,118.669,NaN,119.253,NaN,119.003,NaN,118.799,NaN,117.772,NaN,118.765,119.014,118.516,118.771333
18,2016,118.056,NaN,120.965,NaN,120.226,NaN,118.501,NaN,113.368,NaN,116.311,NaN,117.969,119.752,116.185,117.904500
19,2017,112.773,NaN,110.876,NaN,111.532,NaN,113.201,NaN,111.725,NaN,111.840,NaN,111.958,111.550,112.367,111.991167
20,2018,119.283,NaN,114.923,NaN,114.574,NaN,117.464,NaN,117.486,NaN,115.723,NaN,116.665,116.349,116.982,116.575500
21,2019,119.440,NaN,119.388,NaN,118.326,NaN,117.384,NaN,116.345,NaN,116.956,NaN,117.973,118.982,116.963,117.973167
22,2020,116.019,NaN,116.268,NaN,116.638,NaN,110.476,NaN,111.468,NaN,112.653,NaN,113.975,116.368,111.582,113.920333
23,2021,114.838,NaN,117.865,NaN,118.127,NaN,118.505,NaN,119.315,NaN,121.199,NaN,118.322,116.978,119.667,118.308167
24,2022,121.605,NaN,121.941,NaN,122.920,NaN,123.047,NaN,125.239,NaN,125.278,NaN,123.470,122.206,124.734,123.338333
25,2023,126.038,NaN,127.342,NaN,127.997,NaN,125.310,NaN,126.038,NaN,127.748,NaN,126.701,127.035,126.366,126.745500
26,2024,128.950,NaN,129.382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
DC_rec = df_rec.copy()
DC_rec = DC_rec[["Year", "AVG_rec_CPI"]]
DC_rec

    Year  AVG_rec_CPI
0   1998   100.600000
1   1999   101.983333
2   2000   102.716667
3   2001   102.950000
4   2002   105.183333
5   2003   109.733333
6   2004   108.966667
7   2005   109.300000
8   2006   112.433333
9   2007   114.023667
10  2008   114.938833
11  2009   113.945000
12  2010   116.106167
13  2011   114.662167
14  2012   115.112833
15  2013   116.131667
16  2014   117.616500
17  2015   118.771333
18  2016   117.904500
19  2017   111.991167
20  2018   116.575500
21  2019   117.973167
22  2020   113.920333
23  2021   118.308167
24  2022   123.338333
25  2023   126.745500
26  2024          NaN

In [222]:
DC= DC_income.merge(DC_Food, on = 'Year')
DC = DC.merge(DC_EduCom, on = 'Year')
DC = DC.merge(DC_furnish, on = 'Year')
DC = DC.merge(DC_rec, on = 'Year')
DC = DC.merge(DC_rent, on = 'Year')
DC = DC.merge(DC_trans, on = 'Year')
DC = DC.merge(DC_utilities, on = 'Year')

DC

,Year,income,Total nominal food sales per capita,Total constant dollar food sales per capita,AVG_EduCom_CPI,AVG_furnish_CPI,AVG_rec_CPI,AVG_Rent_CPI,AVG_trans_CPI,AVG_utilities_CPI
0,1998,56730,"5,306.94","3,968.99",101.666667,124.016667,100.600000,174.575000,143.366667,132.533333
1,1999,64280,"5,208.00","3,805.45",103.433333,124.000000,101.983333,179.975000,145.816667,136.050000
2,2000,66240,"5,018.76","3,586.18",104.783333,125.433333,102.716667,187.175000,157.216667,142.666667
3,2001,64690,"4,703.44","3,261.00",108.650000,128.450000,102.950000,200.566667,158.866667,142.716667
4,2002,60640,"4,594.10","3,114.69",112.233333,131.866667,105.183333,213.525000,155.766667,139.433333
5,2003,68490,"4,436.91","2,948.39",113.683333,134.466667,109.733333,223.925000,161.333333,148.116667
6,2004,64450,"5,065.42","3,262.57",114.316667,134.750000,108.966667,232.008333,166.283333,155.933333
7,2005,64860,"5,546.50","3,471.75",118.766667,129.966667,109.300000,242.433333,178.416667,172.533333
8,2006,67910,"5,867.33","3,573.63",123.933333,123.683333,112.433333,253.316667,186.333333,185.566667
9,2007,69360,"6,292.66","3,692.75",127.661833,122.286000,114.023667,264.238250,188.606167,196.744000
10,2008,73240,"6,353.43","3,553.20",131.764667,121.068500,114.938833,276.350667,202.705333,219.870333
11,2009,70300,"5,712.22","3,110.23",135.140167,121.593000,113.945000,287.072750,181.524500,216.975000
12,2010,74290,"5,221.77","2,815.01",139.607667,117.396500,116.106167,293.471000,197.695167,216.698833
13,2011,69930,"5,342.97","2,796.55",142.073167,111.100167,114.662167,302.248500,216.205500,215.137333
14,2012,81010,"5,244.18","2,672.40",145.028667,110.404000,115.112833,314.175500,220.675167,210.786833
15,2013,73680,"5,057.76","2,531.25",146.904833,108.786000,116.131667,322.936000,224.601833,214.366333
16,2014,82590,"5,244.55","2,562.48",150.066667,105.559333,117.616500,328.544500,226.445833,221.316000
17,2015,84820,"5,256.75","2,507.39",154.683667,104.332000,118.771333,336.890250,208.774000,218.147167
18,2016,85170,"5,343.06","2,506.56",156.782167,101.626667,117.904500,341.821333,203.658667,222.498667
19,2017,95840,"5,549.05","2,555.82",154.189833,101.474000,111.991167,349.923250,209.877167,233.925667
20,2018,99110,"5,842.80","2,632.32",153.782833,104.279167,116.575500,359.168583,217.053667,226.323167
21,2019,106100,"5,993.48","2,632.58",150.580000,109.878000,117.973167,366.418417,215.906500,237.671833
22,2020,99440,"5,296.99","2,265.35",154.233167,110.673833,113.920333,376.856833,209.285167,237.174667

In [223]:
DC.to_csv('DC.csv')